*{
padding:0px;
margin:0px;
}
.wrapper{
width:100%;
height:100%;
background-color:white;
line-height: 30px;
font-size:20px;
font-family: Cambria, Verdana
text-align: justify;
}
.header{
	width:100%;
	background-color: black;
	height:60px;
	box-shadow: 0px 3px 6px gray;
	padding:0px;
	margin:0px;
}
.icons{
	width:50%;
	height: 60px;
	float:right;
	background-color:black
}
.icons li{
	width:20%;
	list-style: none;
	float:left;
}
li a{
	display: block;
	color: white;
	line-height: 60px;
	text-align: center;
	font-family: cambrain;
	font-size: 16px;
	text-decoration: none;
}
li a:hover, li a:focus {
	background-color: #ccc;
	color:white;
	text-decoration:none
}
h2{
text-align:Center;
font-weight:bold;
padding-top:30px;
color:red;
}
h3{
font-weight:bold;
color:red;
}
.content{
height:auto;
width:60%;
margin:auto;
}

.img1{
height:auto;
width:80%;
margin:auto;
padding-left:130px;
padding-top:40px;
}
.img2{
width:30%;
height:auto;
margin: auto;
}

.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}
.gallery1 {
    margin: 10px;
    border: 1px solid #ccc;
    width: 30%;
}
.gallery1 img{
width:100%
}


.gallery a{
    height: 300px;
    overflow: hidden;
}

.gallery:hover{
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
}
.empty{
    height:40px;
}

.desc {
    padding: 15px;
    text-align: center;
}

.footer1{
height:300px;
width:100%;
background-color:black;
color:white;
}

.footerwidth{
    width:80%;
    height:auto;
    margin:auto;
    background-color:black;
    line-height: 30px;
}
.contact{
float:left;
width:40%;
padding: 40px 10px 0px 60px;
}
.location{
float:left;
padding:40px 5px 0px 170px
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left;height:700px; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
