{% extends "headers/index.html" %}

{% block content %}
<div class="content">
    <div class="empty"></div>

		<p>
			<strong>Thai Agro and Allied Industries Limited</strong> is an agricultural company based in Nigeria in affliation with various international bodies especially
			in Thailand,
			our passion is geared at making Nigeria and Africa realize the huge wealth and potential in agriculture and help reduce hunger in Africa.
			We strongly believe that every family should be able to provide food by themselves, youths can become less dependent on the government and starting venturing into
			agriculture with
			a mindset of becoming productive to the society and empowering others.

			Thai Agro became a business entity in the year 20012 and have gone on to employ a workforce of more than 100 persons, trained numerous farmers, empowered over 300
			young persons and

			Thai agricultural resources, experiences and opportunities, and to utilize these
			potentials through technology transfer and mutual partnership (Asia and Africa) to ensure sustainable food security in Nigeria and Africa. Read more on the Thailand
			Idea.</p>


			<h2>NATURE OF BUSINESS</h2>

			<p>Thai- Agro focuses on agro opportunities which encapsulates:</p>
			<ul>
					<li>Professional Consultancy in irrigation, land reform, small, medium and large agricultural projects.</li>
					<li>Agricultural support services and management portfolios.</li>
					<li>Youth empowerment.</li>
					<li>Development of farms, small, medium and large.</li>
					<li>Agro investment portfolios..</li>
					<li>Facilitation of agro investment partnership in Thailand..</li>
					<li>.Agribusiness</li>
			</ul>
		<h2>OUR PARTNERS</h2>
		<p>
			<strong>Taiagro partners with various local based and foreign bodies including:</strong>

			<h3>CHIA TAI SEED COMPANY LTD</h3>
				Our partnership with Chia Tai Seed Co., Ltd Thailand is a very strategic one. As “Quality Food Begins with Quality Seeds”,
				our company’s success in ensuring food security in Nigeria. Africa has been greatly enhanced by the world class seed breeding
				& cultivation technology from our partners Chia Tai Seeds Co. This, we have adopted to boost local food production and create jobs in the rural areas of Nigeria.

			<h3>Bishop John Ezirim (BJE) Save A Soul Foundation</h3>
				Our association with BJE is a very mutual one. While our company renders consultancy and managerial services to BJE, BJE provides
				TAI with a suitable platform to reach to the most rural communities of Nigeria.

			<h3>Knowledge Educational Consultants (K.E.C.) Ltd</h3>
				To us in TAI, K.E.C. Thailand is more or less a sister company. This is because K.E.C. Thailand, serves as our company’s conduit into the Royal Kingdom of Thailand.
				It is a privilege of having Dr. Ratanaporn Dhammakosol, the president of K.E.C. Thailand, as a director in our company.

			<h3>SUNTECH SEED</h3>
				SUNTECH SEED specializes in vegetable breeding; seeds production and marketing. We also import some of their products. They are well-known for their many new varieties
				of super sweet corn, watermelon, tomato, and sweet pepper available in the market from 2003 which receive lots of positive feedback from local and foreign farmers.

			<h3>EDI Global Machinery (Thailand) CO.,LTD.</h3>
				EDI Global Machinery (Thailand) CO.,LTD. is the trader company trade many kinds of agriculture machinery ex. engine, walking tractor, compact and large size water pump,
				tractor and Farm MPV. These product have EDI Diesel Engine CO.,LTD. For main supplier and other co-partners factory which produce related product supply.
		</p>
</div>
{% endblock %}

