<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% block title %}<title>THAI-AGRO & ALLIED INDUSTRIES</title>{% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'headers/css/bootstrap.min.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'headers/css/bootstrap.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'headers/css/style.css' %}" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="wrapper">

	{% block header %}
		<div class="header">
				<div class="icons">
					<ul>
						<li><a href="{% url 'index' %}">HOME</a></li>
						<li><a href="{% url 'about' %}">ABOUT</a></li>
						<li><a href="{% url 'service' %}">SERVICES</a></li>
						<li><a href="{% url 'products' %}">PRODUCTS</a></li>
						<li><a href="#">BLOG</a></li>
					</ul>
				</div>
		</div>
	{% endblock %}


	{% block content %}


	{% block slider %}
	<div id="slider">
		<figure>
			<img src="{% static 'headers/images/mummy.jpg' alt='2017 summit' %}  "/>
			<img src="{% static 'headers/images/DSC01707.JPG' alt='2017 summit' %}  ">
			<img src="{% static 'headers/images/DSC01755.JPG' alt='2017 summit' %}  ">
			<img src="{% static 'headers/images/farm.png' alt='2017 summit' %}  ">
			<img src="{% static 'headers/images/sumpix.JPG' alt='2017 summit' %}  ">

		</figure>
	</div>
	{% endblock %}
		<div class="img1">
			<div class="img2">
				<img src="{% static 'headers/images/tai-logo.jpg' %} ">
			</div>
		</div>

	<div class="container-fluid">
		<div class="content">
				<h2>WHO WE ARE</h2>

			<strong>Thai Agro & Allied Industries</strong>
			 is organic oriented Agricultural Enterprise that has over the years raised awareness on the importance of agriculture in Nigeria and and empowered
			individuals, Churches, Co-operate entities and various government agencies with the neccessary skill to turn agriculture into a profitable
			venture and also be able to provide food for families.

			<h2>OUR PURPOSE OF EXISTING</h2>
			<p>Our purpose is solidly ingrained in our mission and vision statements<br>
			<strong>MISSION</strong> We exist to build a food secured Nigeria/African through setting up farm, supporting and training local farmers with
			modern technology in partnership with Thai-Land</p>
			<strong>OUR VISION</strong> is to turn our fallow lands in Nigeria/African into bread, unlocking its treasures



		<div class="images"	>
			<div class="gallery">
				<a target="_blank" href="fmummy.jpg">
					<img src="{% static 'headers/images/cucucmber.jpg' alt='cu999' %}">
				</a>
					<div class="desc">
						Sample fruits of one of our products.
					</div>
			</div>

			<div class="gallery">
					  <a target="_blank" href="fmummy.jpg">
						<img src="{% static 'headers/images/CATOL 092.JPG' alt='CEO' %}  ">
					  </a>
				<div class="desc">
					CEO Thai-Agro & Allied Industries on one of the numerous trainings we organise frequently
				</div>
			</div>

			<div class="gallery">
					  <a target="_blank" href="sumpix.jpg">
						<img src="{% static 'headers/images/DSC02274.JPG' alt='2017 summit' %}  ">
					  </a>
				<div class="desc">
					Mulching film.
				</div>
			</div>
		</div>
		</div>
	</div>
	{% endblock %}

	{% block footer %}
		<div class="footer1">
			<div class="footerwidth">
				<div class="location">
					<h3>ADDRESS:</h3>
					<p>No 7 Mann Street,<br>Opposite Sterling bank, Wethedral road Owerri, Imo State.</p>
				</div>
				<div class="contact">
					<h3>CONTACT</h3>
					<p>Email: Taiagro.ict@gmail.com<br>Twitter: @taiagro</p>
				</div>
			</div>
		</div>
	{% endblock %}



</div>
</body>
</html>
