{% extends "headers/index.html" %}

{% block content %}

<div class="content">
    <div class="empty"></div>

    <h3>AVAILABILITY OF QUALITY IMPROVED TECHNOLOGY</h3>

        <p>To encourage high profitability and minimal costs in business, Thai Agro & Allied Industries Ltd research on foreign and local technology
        that can improve farming. Our relationship with our partners seek to provide local farmers with quality, affordable and profitable systems
            that will encourage high yield. This technology range from machineries to seeds that will improve farming.</p>

    <h3>AGRIBUSINESS CONSULTANCY</h3>

        <p>Are you interested in or strongly passionate about any agricultural business and you are not sure of how to go about it? Or you have some
        pressing questions about the pros and cons of your business of interest.
        Have you started one but aren’t satisfied with the progress? Or you are just curious to know more?
        Here (in Thai Agro & Allied Industries Ltd), we are interested in providing answers to your questions. Ranging from your Agribusiness plan
    to it’s feasibility study, we are ready to assist you all the way with professional consultancy.</p>

    <h3>PROFESSIONAL TRAININGS</h3>

        <p>Our major means of empowering farmers is by giving them the necessary information they need to feed their families and earn a living through
        agriculture. This empowerment is held through training programs organised by this company. Farmers can be trained on vegetable, fish, poultry,
        cassava, maize, plantain/banana, soybean, pineapple farming etc, exposing them to some of the best and latest technology that are used in many
        stable agric-economic nations. We are currently working on various training materials (books, e-books, DVDs) that can serve as guide for farmers.
            The 3 major types of trainings we carry out are:</p>

        <p>International Training: In this training, participants join our staff for a training course overseas with our foreign partners (especially in Thailand).
        Local Training: This training course is carried out by our staff. Experienced farmers in various agribusiness fields across Nigeria provide professional
        trainings in these fields.
        Rural Community Development Training (by SASAN): SASAN(Save a Soul Agric Network) is a product of the association between Thai Agro & Allied Industries
        Ltd and Bishop John Ezirim Save a Soul Foundation in the common pursuit of building food security in rural communities. This network is our way of
            evangelizing to villagers in rural communities by empowering them with agricultural skills.</p>

    <h3>FARM SETUP / MANAGEMENT</h3>

        <p>In addition to empowering farmers with professional trainings, we also assist farmers in setting up your farms. This is done strictly on a contract basis.
        The purpose of this service is to train the client or his / her farm employees, who would likely take-over the management of the farm when the contract elapse.
        For now, this service depends on several factors like location, size of farm, crop or type of farming, availability of staff. We intend that clients can
            leverage on our experience and get “live training” during the period of the contract.</p>

    <h3> MARKETING / SALES OF FARM PRODUCE</h3>

        <p>A major challenge for farmers is the risk of low demand for their produce. This risk has discouraged many prospective farmers and current farmers who wish
        to expand their business. By God’s grace, Thai Agro & Allied Industries Ltd provides a network (SASAN) to reduce this risk.
        Apart from taking the gospel to rural communities through empowerment, SASAN (Save A Soul Agricultural Network) seeks to have a network of various farmers,
        marketers and traders who deal on any agribusiness. Through this network, farmers can locate marketers or traders who need their produce. SASAN is growing
        wider but at the moment has a limited scope. You can contact us for more information on this network. Or click here to join SASAN on Facebook.
            Furthermore, to reduce the risk of low demand, Thai Agro & Allied Industries Ltd encourages the formation and joining of cooperatives among farmers in a locality.</p>
</div>
{% endblock %}
