{% extends "headers/index.html" %}

{% block content %}
<div class="content">
<p>
  Thai Agro and Allied Industries Limited (Taiagro) is an agricultural company with Thailand bias, set up to explore and harness the Thai agricultural resources, experiences and opportunities, and to utilize these potentials through technology transfer and mutual partnership (Asia and Africa) to ensure sustainable food security in Nigeria and Africa. Read more on the Thailand Idea.

	Our <h3>Vision</h3> is “to turn our fallow lands in Nigeria and Africa into bread, unlocking its treasures”.

Our Mission is “Thai Agro & Allied Industries exists to build a food secured Nigeria / Africa through setting up farms, training and supporting local farmers with modern technology in partnership with Thailand”.

	<h3>NATURE OF BUSINESS</h3>

	<p>Taiagro focuses on agro opportunities which requires:</p>
	<ul>
			<li>Professional Consultancy in irrigation, land reform, small, medium and large agro projects.</li>
			<li>Agricultural support services and management portfolios.</li>
			<li>Agro trainings and short courses in Thailand for farming groups, students, private sector, groups and Governments.</li>
			<li>Development of farms, small, medium and large.</li>
			<li>Agro investment portfolios..</li>
			<li>Facilitation of agro investment partnership in Thailand..</li>
			<li>.Agribusiness</li>
	</ul>










</p>
</div>
{% endblock %}

