{% extends 'blog/base.html' %}

{% block detail %}

{{ instance.title }}
<br>
{{ instance.content }}
{{ instance.author }}
<p><img src="{{ instance.image.url }}" width="300px"></p>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
<br>
<br>
<a href="{% url 'blog:edit' post_id=instance.id %}"><button type="button" class="btn btn-primary btn-sm" ></span>Edit Post</button></a>
<a href="{% url 'blog:delete' post_id=instance.id %}"><button type="button" class="btn btn-primary btn-sm">Delete Post</button></a>
<a href="{% url 'blog:index' %}"><button type="button" class="btn btn-primary btn-sm">Home</button></a>

<br>
<br>
<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="50" data-numposts="5"></div>
{% endblock %}