{% extends 'blog/base.html' %}

{% block content %}

<!-- Blog Post -->
{% for post in obj %}
<div class="card mb-4">
   <img class="card-img-top" src= {{ post.image.url}}   alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">{{ post.title}}</h2>
            <p class="card-text">{{ post.content }}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.pub_date|date:'F d'}}, {{ post.pub_date.year}} by <p>{{ post.author }}</p></a>
          </div>
        </div>
  {% endfor %}
      {% endblock %}

  {% block page %}
  {% if obj.has_other_pages %}
  <ul class="pagination justify-content-center mb-4">
    {% if obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ obj.previous_page_number }}">&larr; Older</a>
        {% else %}
      {% endif %}
      </li>
      {% if obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ users.next_page_number }}">Newer &rarr;</a>
      </li>
      {% else %}
      
      {% endif %}
    </ul> 
    {% endif %}
  {% endblock %}