*{
padding:0px;
margin:0px;
}
.wrapper{
width:100%;
height:100%;
background-color;white;
}
html, body{
height:100%;
}
.header{
	width:100%;
	background-color: black;
	height:60px;
	box-shadow: 0px 3px 6px gray;
	padding:0px;
	margin:0px;
}
.icons{
	width:50%;
	height: 60px;
	float:right;
	background-color:black
}
.icons li{
	width:20%;
	list-style: none;
	float:left;
}
li a{
	display: block;
	color: white;
	line-height: 60px;
	text-align: center;
	font-family: cambrain;
	font-size: 16px;
	text-decoration: none
}
li a:hover, li a:focus {
	background-color: #ccc;
	color:white;
	text-decoration:none
}
@medi screen and (max-width:1060px){
.icons{
	width:800px;
	height: 80px;
}
.icons li{
	width:150px;}
}
h2{
text-align:Center;
font-weight:bold;
padding-top:30px;
}
.content{
height:auto;
width:60%;
margin:auto;
}
.contact{
float:right;
width:500px;
}
.location{
float:right;
width:500px;
}
.img1{
height:auto;
width:80%;
margin:auto;
padding-left:130px;
padding-top:40px;
}
.img2{
width:30%;
height:auto;
margin: auto
}
.footer1{
height:300px;
width:100%;
background-color:brown;
}
.content2{
width:80%;
margin:auto;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}


